/* Registration Page CSS */
.registration-page {
  display: flex;
  height: 100vh;
  width: 100%;
}

.registration-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDE4E0;
  padding: 2rem;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.registration-image {
  width: 60%;
  background: linear-gradient(rgba(102, 90, 72, 0.7), rgba(102, 90, 72, 0.7)),
    url('./Assets/travel-image.avif') center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EDE4E0;
  padding: 2rem;
}

.image-content {
  max-width: 500px;
}

.image-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.image-content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Form Elements */
.registration-heading {
  margin: 0;
  text-align: center;
  color: #665A48;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.registration-input {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #9F8772;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.3s ease;
}

.registration-input::placeholder {
  color: #665A48;
}

.registration-input:focus {
  border-color: #665A48;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 90, 72, 0.5);
}

.registration-button {
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #C8DBBE;
  color: #665A48;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.registration-button:hover {
  background-color: #9F8772;
  color: #FFFFFF;
  transform: translateY(-2px);
}

/* Home page CSS */
.home-heading {
  margin: 0;
  text-align: center;
  color: #665A48;
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.home-paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  color: #665A48;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.home-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.home-button {
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #C8DBBE;
  color: #665A48;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.3s ease;
  margin-top: 1rem;
  font-weight: 600;
  width: 90%;
}

.home-continent-image {
  width: 180px;
  height: 180px;
}