body {
  background-color: #EDE4E0;
}

/* Navbar style */
nav,
nav button {
  background-color: #382d1c;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', sans-serif;
}

nav a,
nav button {
  color: #EDE4E0;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

/* Hover effect */
nav a:hover,
nav button:hover {
  background-color: #9F8772;
  color: white;
}

/* Active link (current page) */
nav a.active,
nav button.active {
  background-color: #C8DBBE;
  color: #665A48;
  font-weight: 600;
}

nav button {
  border: none;
  font-size: 0.9em;
}